workflows/Futbot-AI-Manager.json
{
  "name": "Futbot-AI-Manager",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1312,
        -512
      ],
      "id": "00069ff1-7562-4d38-9356-1cb3c2c5055d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd3450b4-fd62-492a-910a-2f9b0514b0e4",
              "name": "telefono",
              "value": "={{ \"+\"+$('RequiereHumano').item.json.CHAT_ID.split(\"@\")[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        -608
      ],
      "id": "0d69eb55-7e76-4adb-85f7-d150a9df8797",
      "name": "RecuperarTelefonoEnEsperaDeRespuesta"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -640,
        -416
      ],
      "id": "6f5869cf-9e3f-47ac-8c1c-0a72ad8e0d53",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://192.168.0.232:8080/message/sendText/AgenteIATest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5491122824060@s.whatsapp.net"
            },
            {
              "name": "text",
              "value": "={{ \"*Clientes en espera de respuesta*\\n\" + $('RecuperarTelefonoEnEsperaDeRespuesta').all().map(item => item.json.telefono).join('\\n') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        -416
      ],
      "id": "995eb464-40e1-4527-be48-158c20e5a90d",
      "name": "Enviar Mensaje De Clientes esperando respuesta",
      "credentials": {
        "httpBearerAuth": {
          "id": "SZtj6LAPQssoeRn0",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "76c74c58-cf95-4b57-a61d-d040dd84e3be",
              "leftValue": "={{ $json.STATUS }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -864,
        -512
      ],
      "id": "b5e2649f-43b5-4be0-8c00-2d3dff00e2d7",
      "name": "Necesidad de Asistencia Humana1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1760,
        -800
      ],
      "id": "360aa8d0-2889-47cc-8694-8d18206ad097",
      "name": "Webhook",
      "webhookId": "625739aa-f68d-41da-ae72-87226e680bdf"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0c4f1c2-cc2b-4e35-a1c9-9183a3d4a177",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "payment",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1536,
        -800
      ],
      "id": "3c589bfb-2d6f-47e0-a72b-afe589944e36",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "=https://api.mercadopago.com/v1/payments/{{ $('Webhook').item.json.query['data.id'] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1312,
        -800
      ],
      "id": "4d466bb1-fd21-4100-8a9f-506623c4f81e",
      "name": "HTTP Request2",
      "credentials": {
        "httpBearerAuth": {
          "id": "tEvz93nggNRTHJqx",
          "name": "mp-prueba"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://192.168.0.232:8080/message/sendText/AgenteIATest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.TELEFONO+\"@s.whatsapp.net\"}}"
            },
            {
              "name": "text",
              "value": "={{ \"Hola \"+$json.NOMBRE+\" 👋, te confirmo el pago de la fecha.\\n✅ Turno fijo: \"}}{{$json.FECHA+\" a las \"}}{{$json.HORARIO}}{{\"\\nYa está todo anotado en la planilla. ¡Nos vemos en la cancha!\" }}"
            },
            {
              "name": "delay",
              "value": "={{500}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        -656
      ],
      "id": "4d0c1653-77ef-4b8b-a954-a73a87cb3806",
      "name": "Enviar Mensaje De Respuesta1",
      "credentials": {
        "httpBearerAuth": {
          "id": "SZtj6LAPQssoeRn0",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "840cf658-4e64-4fa9-bb6c-78cf9abc9833",
              "leftValue": "={{ $json.status_detail }}",
              "rightValue": "accredited",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "761d0c39-7f40-439f-9c69-8eb432f28a6e",
              "leftValue": "={{ $json.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1088,
        -800
      ],
      "id": "f7d59a2e-a232-491c-a988-0def445486f0",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DROP SCHEMA IF EXISTS negocio CASCADE;\nCREATE SCHEMA negocio;\n\n-- 1. TABLA CANCHAS\nCREATE TABLE IF NOT EXISTS negocio.canchas (\n    \"NUMERO\" INTEGER PRIMARY KEY,\n    \"FUTBOL\" INTEGER,\n    \"PRECIO\" NUMERIC(15, 2)\n);\n\n-- Datos iniciales (solo se insertan si no existen, para evitar errores al reiniciar)\nINSERT INTO negocio.canchas (\"NUMERO\", \"FUTBOL\", \"PRECIO\") \nVALUES (1, 5, 50000), (2, 7, 70000)\nON CONFLICT (\"NUMERO\") DO NOTHING;\n\n-- 2. TABLA RESERVAS (BLINDADA)\nCREATE TABLE IF NOT EXISTS negocio.reservas (\n    id SERIAL PRIMARY KEY,\n    \"TELEFONO\" VARCHAR(50),\n    \"NUMEROCANCHA\" INTEGER REFERENCES negocio.canchas(\"NUMERO\"),\n    \"PRECIO\" NUMERIC(15, 2),\n    \"SEÑA\" NUMERIC(15, 2),\n    \"FALTANTE\" NUMERIC(15, 2) GENERATED ALWAYS AS (\"PRECIO\" - \"SEÑA\") STORED, \n    \"FECHA\" DATE,   \n    \"HORARIO\" TIME, \n    \"TIEMPO\" NUMERIC(5, 1),\n    \"NOMBRE\" VARCHAR(255),\n    \"PAGORECIBIDO\" VARCHAR(10) DEFAULT 'no', -- Default 'no' por seguridad\n    \"IDENTIFICADOR\" VARCHAR(8) GENERATED ALWAYS AS (LPAD(id::TEXT, 8, '0')) STORED UNIQUE,\n    \"ESTADO\" VARCHAR(20) DEFAULT 'ESPERA', -- Default 'CONFIRMADA' para gestión de cancelaciones\n    \n    -- ESTA ES LA PROTECCIÓN CRÍTICA CONTRA DOBLE RESERVA:\n    CONSTRAINT unique_reserva UNIQUE (\"NUMEROCANCHA\", \"FECHA\", \"HORARIO\")\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1760,
        0
      ],
      "id": "128dd0bf-207b-4a00-81c9-700f4c570461",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "AoDwSZhy27WNmTsX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "negocio",
          "mode": "list",
          "cachedResultName": "negocio"
        },
        "table": {
          "__rl": true,
          "value": "reservas",
          "mode": "list",
          "cachedResultName": "reservas"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1760,
        224
      ],
      "id": "a2157c39-104a-4124-9e44-4aba86b73d96",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "AoDwSZhy27WNmTsX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "negocio",
          "mode": "list",
          "cachedResultName": "negocio"
        },
        "table": {
          "__rl": true,
          "value": "reservas",
          "mode": "list",
          "cachedResultName": "reservas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IDENTIFICADOR": "={{ $json.additional_info.items[0].id }}",
            "PAGORECIBIDO": "si",
            "ESTADO": "CONFIRMADA"
          },
          "matchingColumns": [
            "IDENTIFICADOR"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TELEFONO",
              "displayName": "TELEFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NUMEROCANCHA",
              "displayName": "NUMEROCANCHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PRECIO",
              "displayName": "PRECIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SEÑA",
              "displayName": "SEÑA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FALTANTE",
              "displayName": "FALTANTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HORARIO",
              "displayName": "HORARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TIEMPO",
              "displayName": "TIEMPO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PAGORECIBIDO",
              "displayName": "PAGORECIBIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IDENTIFICADOR",
              "displayName": "IDENTIFICADOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -864,
        -800
      ],
      "id": "a3df0558-0db5-4bbf-832e-26408f3bcd6c",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "AoDwSZhy27WNmTsX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "negocio",
          "mode": "list",
          "cachedResultName": "negocio"
        },
        "table": {
          "__rl": true,
          "value": "reservas",
          "mode": "list",
          "cachedResultName": "reservas"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "IDENTIFICADOR",
              "value": "={{ $json.IDENTIFICADOR }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -640,
        -800
      ],
      "id": "65361bda-dd86-4476-a699-a2c7ef93c629",
      "name": "Select rows from a table1",
      "credentials": {
        "postgres": {
          "id": "AoDwSZhy27WNmTsX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"apikey\": \"your_evolution_api_key\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        -224
      ],
      "id": "699e167f-1653-4380-b5e1-5051945013fa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "AgenteAITest",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1760,
        848
      ],
      "id": "28dc17ae-9190-4086-8319-cf37b690b1c2",
      "name": "chat whatsap2",
      "webhookId": "bda40859-9061-4f50-9fc1-8f15a0c820ac"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.message.last()).message_id }}",
                    "rightValue": "={{ $('Normalizacion2').item.json.message.message_id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "02d066d1-cedc-469e-994e-707ec9a70d0c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No hacer nada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "da8cf820-9e02-4382-9a55-52794d91bd61",
                    "leftValue": "={{ JSON.parse($json.message.last()).timeStamp }}",
                    "rightValue": "={{ $now.minus(10,'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Seguir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -192,
        656
      ],
      "id": "825b8ef9-b016-4f84-b5a2-a0a79ccd5b02",
      "name": "Switch2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        32,
        864
      ],
      "id": "cad83fd3-3fa5-4d86-b5ae-256d451965a8",
      "name": "Wait2",
      "webhookId": "ccb2865c-6da5-4874-af3d-5a96159d750f"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        32,
        448
      ],
      "id": "d4f5e445-0a77-450f-865d-dbe27684c826",
      "name": "No Operation, do nothing5"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $json.message.chat_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -416,
        768
      ],
      "id": "7ebad08f-07ac-4d0a-b617-0ac180ddeee2",
      "name": "Get messages2",
      "credentials": {
        "redis": {
          "id": "Jw3VPFhWwxeJXIk2",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.message.chat_id }}",
        "messageData": "={{ JSON.stringify($json.message) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -640,
        768
      ],
      "id": "1aab6201-8e95-40cb-a63c-1cb65daf9d46",
      "name": "Load Buffer2",
      "credentials": {
        "redis": {
          "id": "Jw3VPFhWwxeJXIk2",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Normalizacion2').item.json.message.chat_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        32,
        640
      ],
      "id": "e85ab1d8-a94e-4f09-b070-50d31ea781db",
      "name": "Delete Buffer2",
      "credentials": {
        "redis": {
          "id": "Jw3VPFhWwxeJXIk2",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db6d611a-ef12-4ec1-90bc-5262111b81d2",
              "name": "instance.url_server",
              "value": "={{ $('chat whatsap2').item.json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "feb764aa-a509-4e21-a356-b973cf243c50",
              "name": "instance.instance_name",
              "value": "={{ $('chat whatsap2').item.json.body.instance }}",
              "type": "string"
            },
            {
              "id": "7582d153-11bd-42bb-8c11-6a01edf0a8a6",
              "name": "instance.apikey",
              "value": "={{ $('chat whatsap2').item.json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "b3231fd8-f66d-4f0c-917a-0b2b97622139",
              "name": "message.chat_id",
              "value": "={{ $('chat whatsap2').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "9a060b6d-2330-49d1-a35d-dade49c98ccf",
              "name": "conversation",
              "value": "={{ $('chat whatsap2').item.json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "c7f45ec9-ceed-4189-bf5a-eee1f179bce4",
              "name": "numero_de_telefono",
              "value": "={{ $('chat whatsap2').item.json.body.data.key.remoteJid.split(\"@\")[0] }}",
              "type": "string"
            },
            {
              "id": "19a1d3e6-2c89-4b72-867c-ed3a1c294b48",
              "name": "message.message_id",
              "value": "={{ $('chat whatsap2').item.json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "a95bd21d-c4ec-4337-a41d-6cc8b8668c6f",
              "name": "message.timeStamp",
              "value": "={{ $('chat whatsap2').item.json.body.date_time.toDateTime().toISO() }}",
              "type": "string"
            },
            {
              "id": "26053d17-83ae-439a-b8f4-3aef9b2fa317",
              "name": "message.content_type",
              "value": "={{ $('chat whatsap2').item.json.body.data.message.conversation ? 'text': '' }}",
              "type": "string"
            },
            {
              "id": "3ed7e038-881e-4b24-9173-bdd645134b33",
              "name": "message.content",
              "value": "={{ $('chat whatsap2').item.json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "70cf1b99-fa64-4243-9761-564a91936de8",
              "name": "message.STATUS",
              "value": "={{ $('RecuperarEstado1').item.json.STATUS || 'bot' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        768
      ],
      "id": "87ab5551-1544-4381-af49-2e0cff697966",
      "name": "Normalizacion2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "message",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        256,
        640
      ],
      "id": "81828453-63e4-458c-9423-a6dce201d9b7",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=\n {{ JSON.parse($json.message) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        640
      ],
      "id": "a9b5f90b-503c-42cc-8175-de895a5a5ddb",
      "name": "Json Parse2"
    },
    {
      "parameters": {
        "text": "={{ $('Json Parse2').item.json.content }}",
        "guardrails": {
          "jailbreak": {
            "value": {
              "threshold": 0.7
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 1,
      "position": [
        1152,
        832
      ],
      "id": "c6d58f4e-143d-45db-b239-dcc60881ddee",
      "name": "Guardrails1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1088,
        992
      ],
      "id": "abe8f08e-7387-4ad6-a610-751d4679e93a",
      "name": "No Operation, do nothing6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://192.168.0.232:8080/message/sendText/{{ $('chat whatsap2').item.json.body.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('chat whatsap2').item.json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Normalizacion2').item.json.message.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ \"En breves alguien se pondra en contacto con usted. O escriba el comando /bot si quiere que le responda la inteligencia artificial\" }}"
            },
            {
              "name": "delay",
              "value": "={{500}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        528
      ],
      "id": "8e5e6912-f43c-4ffa-994b-81126b60d832",
      "name": "Enviar Mensaje De Asistencia Humana1",
      "credentials": {
        "httpBearerAuth": {
          "id": "SZtj6LAPQssoeRn0",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://192.168.0.232:8080/message/sendText/{{ $('chat whatsap2').item.json.body.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('chat whatsap2').item.json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Normalizacion2').item.json.message.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ \"Haz Recibido tu ultimo strike, si vuelves a intentar aprobecharte de la IA, bloquearemos tu número\" }}"
            },
            {
              "name": "delay",
              "value": "={{500}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3184,
        672
      ],
      "id": "9b73b021-6756-496a-a6a9-6ce12f744661",
      "name": "Enviar Mensaje De Último Strike1",
      "credentials": {
        "httpBearerAuth": {
          "id": "SZtj6LAPQssoeRn0",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://192.168.0.232:8080/message/sendText/{{ $('chat whatsap2').item.json.body.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('chat whatsap2').item.json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Normalizacion2').item.json.message.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ \"Haz Recibido un strike, si sigues intentando aprobecharte de la IA, bloquearemos tu número\" }}"
            },
            {
              "name": "delay",
              "value": "={{500}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3184,
        480
      ],
      "id": "b26c7a57-1e96-431b-9005-8b9c5fe5882d",
      "name": "Enviar Mensaje de Suma un Strike1",
      "credentials": {
        "httpBearerAuth": {
          "id": "SZtj6LAPQssoeRn0",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://192.168.0.232:8080/message/sendText/{{ $('chat whatsap2').item.json.body.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('chat whatsap2').item.json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Normalizacion2').item.json.message.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ \"Te haz quedado sin strikes, hemos bloqueado tu numero\" }}"
            },
            {
              "name": "delay",
              "value": "={{500}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3184,
        864
      ],
      "id": "85931b56-277c-4031-8336-a6d1d76a51ed",
      "name": "Enviar Mensaje De Bloqueo de Numero1",
      "credentials": {
        "httpBearerAuth": {
          "id": "SZtj6LAPQssoeRn0",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "eb46ca82-159c-4917-b125-458462153056",
                    "leftValue": "={{ $json.AVISOS }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Aviso"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b652972a-d554-4de5-808f-07d6891ac164",
                    "leftValue": "={{ $json.AVISOS }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ultimo Aviso"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.AVISOS }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "b84a8b2b-3269-4405-8619-7adefb9ffaa6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bloqueo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2960,
        656
      ],
      "id": "fa1c6274-a46e-4a4e-8f6d-adabbb918dc0",
      "name": "Cantidad Avisos1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.content }}",
                    "rightValue": "/humano",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "483b5474-5eb1-484a-8f3c-482faf6d0947"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/humano"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fcc2aaff-6191-45f8-903b-051315e57942",
                    "leftValue": "={{ $json.STATUS }}",
                    "rightValue": "bot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "estadoBot"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "09881273-9290-4723-a347-5129c0611772",
                    "leftValue": "={{ $json.content }}",
                    "rightValue": "/bot",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/bot"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ff7067ec-9b39-4314-bdae-f98e6d652137",
                    "leftValue": "={{ $json.STATUS }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sin estado"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        704,
        608
      ],
      "id": "24750e54-9b69-49eb-835b-627df9ccd6b5",
      "name": "Necesidad de Asistencia Humana2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "qL7ccKjS05lysiQM",
          "mode": "list",
          "cachedResultName": "EstadoConersasiones",
          "cachedResultUrl": "/projects/lHzPgAZHrd1ngKym/datatables/qL7ccKjS05lysiQM"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "CHAT_ID",
              "keyValue": "={{ $json.body.data.key.remoteJid }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1536,
        848
      ],
      "id": "9e37d8a6-1fff-4143-9828-91bdeb79ba81",
      "name": "RecuperarEstado1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "qL7ccKjS05lysiQM",
          "mode": "list",
          "cachedResultName": "EstadoConersasiones",
          "cachedResultUrl": "/projects/lHzPgAZHrd1ngKym/datatables/qL7ccKjS05lysiQM"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "CHAT_ID",
              "keyValue": "={{ $json.chat_id }}"
            },
            {
              "keyName": "FECHA",
              "keyValue": "={{ $('RecuperarEstado1').item.json.FECHA }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "STATUS": "bot",
            "CHAT_ID": "={{ $json.chat_id }}",
            "FECHA": "={{ $json.timeStamp }}",
            "AVISOS": "={{ $('RecuperarEstado1').item.json.AVISOS }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "CHAT_ID",
              "displayName": "CHAT_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AVISOS",
              "displayName": "AVISOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        928,
        832
      ],
      "id": "42ddb029-77df-49cf-89fe-e836a52e5aa4",
      "name": "Bot"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "708c0277-6364-4b5f-a451-9bf6dad81fb9",
                    "leftValue": "={{ $json.CHAT_ID }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sin registrar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.AVISOS }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    },
                    "id": "5ce1955d-80ce-46aa-8d82-37513e01c1ce"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Registrado avisos <=  3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0c1861ad-c6e2-40b9-bf49-45968177f72e",
                    "leftValue": "={{ $json.AVISOS }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Registrado avisos >=  4"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1312,
        832
      ],
      "id": "09833721-d1d1-4502-a810-4dccbf96bfe2",
      "name": "Switch1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "qL7ccKjS05lysiQM",
          "mode": "list",
          "cachedResultName": "EstadoConersasiones",
          "cachedResultUrl": "/projects/lHzPgAZHrd1ngKym/datatables/qL7ccKjS05lysiQM"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "AVISOS": 0,
            "CHAT_ID": "={{ $('chat whatsap2').item.json.body.data.key.remoteJid }}",
            "FECHA": "={{ $('chat whatsap2').item.json.body.date_time }}",
            "STATUS": "bot"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "CHAT_ID",
              "displayName": "CHAT_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AVISOS",
              "displayName": "AVISOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1088,
        704
      ],
      "id": "ca877114-8cd7-4639-840d-2f0f1b141108",
      "name": "Insert row"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "qL7ccKjS05lysiQM",
          "mode": "list",
          "cachedResultName": "EstadoConersasiones",
          "cachedResultUrl": "/projects/lHzPgAZHrd1ngKym/datatables/qL7ccKjS05lysiQM"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "CHAT_ID",
              "keyValue": "={{ $json.chat_id }}"
            },
            {
              "keyName": "FECHA",
              "keyValue": "={{ $('RecuperarEstado1').item.json.FECHA }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "STATUS": "humano",
            "CHAT_ID": "={{ $json.chat_id }}",
            "FECHA": "={{ $json.timeStamp }}",
            "AVISOS": "={{ $('RecuperarEstado1').item.json.AVISOS }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "CHAT_ID",
              "displayName": "CHAT_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AVISOS",
              "displayName": "AVISOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        928,
        528
      ],
      "id": "d823e971-fe4d-4ecc-a461-85059784804e",
      "name": "Humano"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "qL7ccKjS05lysiQM",
          "mode": "list",
          "cachedResultName": "EstadoConersasiones",
          "cachedResultUrl": "/projects/lHzPgAZHrd1ngKym/datatables/qL7ccKjS05lysiQM"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "CHAT_ID",
              "keyValue": "={{ $('Normalizacion2').item.json.message.chat_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "AVISOS": "={{ $('RecuperarEstado1').item.json.AVISOS + 1 }}",
            "CHAT_ID": "={{ $('Normalizacion2').item.json.message.chat_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "CHAT_ID",
              "displayName": "CHAT_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AVISOS",
              "displayName": "AVISOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2016,
        672
      ],
      "id": "c94a3345-4d85-45f5-bb63-11a452fc205f",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "qL7ccKjS05lysiQM",
          "mode": "list",
          "cachedResultName": "EstadoConersasiones",
          "cachedResultUrl": "/projects/lHzPgAZHrd1ngKym/datatables/qL7ccKjS05lysiQM"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "CHAT_ID",
              "keyValue": "={{ $('Normalizacion2').item.json.message.chat_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2736,
        672
      ],
      "id": "4cf8943b-c672-4621-8319-fbb44f0a1671",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "qL7ccKjS05lysiQM",
          "mode": "list",
          "cachedResultName": "EstadoConersasiones",
          "cachedResultUrl": "/projects/lHzPgAZHrd1ngKym/datatables/qL7ccKjS05lysiQM"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "STATUS",
              "keyValue": "humano"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1088,
        -512
      ],
      "id": "d745dbc3-aad8-4c76-8e48-59b8dec46bd1",
      "name": "Get row(s)1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "llama-3.3-70b-versatile",
          "mode": "list",
          "cachedResultName": "llama-3.3-70b-versatile"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1232,
        1056
      ],
      "id": "22595b7e-44e3-47dc-a1fc-cd6fd29200ef",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "s7oLqE8EjfaGq0Ry",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=un cliente te escribio:\nuser_name: {{ $('chat whatsap2').item.json.body.data.key.remoteJid }}\nmessage:{{ $('chat whatsap2').item.json.body.data.message.conversation }}\nphone_number: {{ $('Normalizacion2').item.json.numero_de_telefono }}\ntime: {{ $now }}",
        "options": {
          "systemMessage": "=ROL: Asistente IA — Gestor de reservas y cancelaciones de canchas de fútbol.\n\nOBJETIVO: Gestionar reservas y cancelaciones solicitando **todos los datos en un solo mensaje**.  \nSiempre ofrecer la opción de escalar con `/humano`.\n\nCONTEXTO:\n- `Telefono_Cliente` disponible automáticamente (no solicitar).  \n- Fecha actual: `{{$now}}`.\n\nHERRAMIENTAS:\n1. `DatosDeCanchas(tipo_futbol)`\n2. `VerDisponibilidad(tipo_cancha, fecha, horario, tiempo)`\n3. `BuscarProximoHorario(tipo_cancha, fecha)`\n4. `ListarHorariosDisponibles(tipo_cancha, fecha)`\n5. `ReservarCanchaF(...)`\n6. `RecuperarReserva(...)`\n7. `EliminarReserva(...)`\n\nFUNCIONAMIENTO GENERAL:\nAl detectar intención de **\"reservar\"**, “quiero reservar” o `/reservar`:\n- Solicitar en **un solo mensaje** los siguientes datos obligatorios:  \n  **TIPO (F5/F7), FECHA (dd/mm/aaaa), HORARIO (HH:MM en punto), TIEMPO (X.XX), NOMBRE, APELLIDO, DNI, CORREO ELECTRÓNICO y SEÑA (mínimo $2000)**.  \n- Si algún dato falta o es inválido, pedirlo nuevamente **en un único mensaje**.\n- Reglas de horario:  \n  - Solo horarios en punto (HH:00).  \n  - Si el horario está ocupado → ofrecer **“próximo disponible”** (usar `BuscarProximoHorario`) o **“lista completa”** (usar `ListarHorariosDisponibles`).\n\nFLUJO RESERVA:\n1. Recibir y validar todos los datos.  \n2. Validar horario:  \n   - Si fraccionado → rechazar y solicitar nuevamente todos los datos en un solo mensaje.  \n   - Si ocupado → ofrecer alternativas.  \n3. Calcular `PRECIO_TOTAL = PRECIO_base * TIEMPO`.  \n4. Regla crítica: **Nunca revelar ID_Cancha al cliente**.  \n5. Crear reserva con `ReservarCanchaF`.  \n6. Resumir reserva: Nombre, Apellido, DNI, Correo, Tipo, Fecha, Hora, Tiempo, Seña.  \n7. Proveer datos de pago.\n\nFLUJO CANCELAR:\nAl detectar “cancelar” o `/cancelar`:\n- Solicitar en **un solo mensaje**: **NOMBRE, APELLIDO, TIPO_CANCHA, FECHA, HORARIO**.  \n- Usar `RecuperarReserva`.  \n  - Si `null` → informar que no se encontró con esos datos + teléfono; ofrecer `/humano`.  \n  - Si existe → mostrar datos y pedir confirmación final.  \n- Si confirma → `EliminarReserva` y avisar “Reserva cancelada”.\n\nTONO: amable, claro, eficiente."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1952,
        976
      ],
      "id": "189f11cc-6346-4741-954b-cb4439b41139",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Json Parse2').item.json.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1632,
        1200
      ],
      "id": "32a2ee57-8b8f-42f2-aae2-4a50117ee249",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZGHEA2tpkMb3n3e7",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZGHEA2tpkMb3n3e7",
          "cachedResultName": "ProximoHorarioDisponible"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FECHA": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('FECHA', ``, 'string') }}",
            "NUMEROCANCHA": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NUMEROCANCHA', ``, 'number') }}"
          },
          "matchingColumns": [
            "FECHA"
          ],
          "schema": [
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "NUMEROCANCHA",
              "displayName": "NUMEROCANCHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1760,
        1200
      ],
      "id": "6eb97ccd-1a46-4b05-8971-b8b5d58cf62b",
      "name": "ProximoHorarioDisponible"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "F2fokid3AZgTDMFv",
          "mode": "list",
          "cachedResultUrl": "/workflow/F2fokid3AZgTDMFv",
          "cachedResultName": "VerDisponibilidadFulbot"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "NUMEROCANCHA": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NUMEROCANCHA', ``, 'number') }}",
            "FECHA": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('FECHA', ``, 'string') }}",
            "HORARIO": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('HORARIO', ``, 'string') }}",
            "TIEMPO": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TIEMPO', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NUMEROCANCHA",
              "displayName": "NUMEROCANCHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "HORARIO",
              "displayName": "HORARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "TIEMPO",
              "displayName": "TIEMPO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1888,
        1200
      ],
      "id": "f0df8bab-d1f6-4fe7-98a0-6f71dddade78",
      "name": "VerDisponibilidadFulbot"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wzAflaxlKfNwlsra",
          "mode": "list",
          "cachedResultUrl": "/workflow/wzAflaxlKfNwlsra",
          "cachedResultName": "ReservarCanchaFulbot"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "NUMEROCANCHA": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NUMEROCANCHA', ``, 'number') }}",
            "SEÑA": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('SE_A', ``, 'number') }}",
            "TELEFONO": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TELEFONO', ``, 'string') }}",
            "FECHA": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('FECHA', ``, 'string') }}",
            "HORARIO": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('HORARIO', ``, 'string') }}",
            "TIEMPO": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TIEMPO', ``, 'string') }}",
            "NOMBRE": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NOMBRE', ``, 'string') }}",
            "DNI": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('DNI', ``, 'number') }}",
            "APELLIDO": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('APELLIDO', ``, 'string') }}",
            "EMAIL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('EMAIL', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TELEFONO",
              "displayName": "TELEFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "NUMEROCANCHA",
              "displayName": "NUMEROCANCHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "SEÑA",
              "displayName": "SEÑA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "HORARIO",
              "displayName": "HORARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "TIEMPO",
              "displayName": "TIEMPO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "APELLIDO",
              "displayName": "APELLIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "DNI",
              "displayName": "DNI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2016,
        1200
      ],
      "id": "6d5e8ba9-dfb3-4695-a85e-f08e919a660a",
      "name": "ReservarCanchaFulbot"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "d1vdXLwfHeiJxT15",
          "mode": "list",
          "cachedResultUrl": "/workflow/d1vdXLwfHeiJxT15",
          "cachedResultName": "RecuperarReservasFulbot"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "TELEFONO": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TELEFONO', ``, 'string') }}",
            "NOMBRE": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NOMBRE', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TELEFONO",
              "displayName": "TELEFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2144,
        1200
      ],
      "id": "8cddc1de-4ba9-4e5a-9328-e5e8ad97258a",
      "name": "RecuperarReservasFulbot"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gpitab2t9cMW4w1i",
          "mode": "list",
          "cachedResultUrl": "/workflow/gpitab2t9cMW4w1i",
          "cachedResultName": "EliminarReservaFulbot"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "TELEFONO": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TELEFONO', ``, 'string') }}",
            "NOMBRE": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NOMBRE', ``, 'string') }}",
            "FECHA": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('FECHA', ``, 'string') }}",
            "NUMEROCANCHA": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NUMEROCANCHA', ``, 'string') }}",
            "HORARIO": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('HORARIO', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TELEFONO",
              "displayName": "TELEFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "NUMEROCANCHA",
              "displayName": "NUMEROCANCHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "HORARIO",
              "displayName": "HORARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2272,
        1200
      ],
      "id": "84702bfb-9fa4-4815-8d93-847c5d736abd",
      "name": "EliminarReserva"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5V6I2THeKfU2YSui",
          "mode": "list",
          "cachedResultUrl": "/workflow/5V6I2THeKfU2YSui",
          "cachedResultName": "PosiblesHorarios"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "NUMEROCANCHA": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NUMEROCANCHA', ``, 'number') }}",
            "FECHA": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('FECHA', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "NUMEROCANCHA",
              "displayName": "NUMEROCANCHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2400,
        1200
      ],
      "id": "31ac65ec-4b23-4574-bda4-eefdca26a65b",
      "name": "PosiblesHorarios"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "negocio",
          "mode": "list",
          "cachedResultName": "negocio"
        },
        "table": {
          "__rl": true,
          "value": "canchas",
          "mode": "list",
          "cachedResultName": "canchas"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        2528,
        1200
      ],
      "id": "209578ef-fd50-4aab-8403-b197599ce3c5",
      "name": "DatosDeCanchas",
      "credentials": {
        "postgres": {
          "id": "AoDwSZhy27WNmTsX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "llama-3.3-70b-versatile",
          "mode": "list",
          "cachedResultName": "llama-3.3-70b-versatile"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1504,
        1200
      ],
      "id": "ef93482e-b080-4739-b966-5f0fd7b5448a",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "s7oLqE8EjfaGq0Ry",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://192.168.0.232:8080/message/sendText/{{ $('chat whatsap2').item.json.body.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('chat whatsap2').item.json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Normalizacion2').item.json.message.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "delay",
              "value": "={{500}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2736,
        976
      ],
      "id": "1826ceb1-b3ca-4b1b-b5e0-59637217e3be",
      "name": "Enviar Mensaje De Respuesta2",
      "credentials": {
        "httpBearerAuth": {
          "id": "SZtj6LAPQssoeRn0",
          "name": "Bearer Auth account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "54.88.218.97",
            "x-forwarded-for": "54.88.218.97",
            "host": "czci4pt6x2b8teyhagzshjlq.hooks.n8n.cloud",
            "x-forwarded-proto": "https",
            "x-nginx-proxy": "true",
            "connection": "close",
            "content-length": "189",
            "user-agent": "MercadoPago WebHook v1.0 payment",
            "accept": "application/json",
            "content-type": "application/json",
            "referer": "https://mercadopago.com.ar",
            "traceparent": "00-77712a473b93981d4d74fa88551076b4-0085076384fdb4ba-00",
            "x-b3-parentspanid": "3b6be5dbcd6ae3e5",
            "x-b3-sampled": "0",
            "x-b3-spanid": "0085076384fdb4ba",
            "x-b3-traceid": "77712a473b93981d4d74fa88551076b4",
            "x-request-id": "612138cb-8c72-412c-a384-5b3ccab6f839",
            "x-rest-pool-name": "pool_unknown",
            "x-signature": "ts=1764677065,v1=dfa2704914bb51af976feeb21ea758bc433b222f63c8a23f9738b204cf01e1c8",
            "x-socket-timeout": "25000",
            "x-trace-digest-76": "hah2LZ62gE1hkp6M6N9rFgeUNz0Nj3RZyh7KnwOPPbq0K461xgSXhomhICyc39AeGVrN/+QhSE/aKvStrWJ+ERw0tdH1GebFaFluOLOEgPFLYBptvK0+FxT51rtokZorEbznewCnswYXX7wwlf7ekiqoyD8kO9mWAZSHOxO8DkI=",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {
            "data.id": "135507687177",
            "type": "payment"
          },
          "body": {
            "action": "payment.created",
            "api_version": "v1",
            "data": {
              "id": "135507687177"
            },
            "date_created": "2025-12-02T12:04:25Z",
            "id": 126807500037,
            "live_mode": true,
            "type": "payment",
            "user_id": "3031643194"
          },
          "webhookUrl": "https://czci4pt6x2b8teyhagzshjlq.hooks.n8n.cloud/webhook/a",
          "executionMode": "production"
        }
      }
    ],
    "chat whatsap2": [
      {
        "json": {
          "headers": {
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "axios/1.10.0",
            "content-length": "959",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "192.168.0.232:5678",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "AgenteIATest",
            "data": {
              "key": {
                "remoteJid": "5491161773862@s.whatsapp.net",
                "fromMe": false,
                "id": "3FFA0010745C84E72F1C",
                "senderLid": "23004029427717@lid"
              },
              "pushName": "Francisco Buiz",
              "status": "DELIVERY_ACK",
              "message": {
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "OEKcilIbHikARw==",
                    "senderTimestamp": "1765326769",
                    "recipientKeyHash": "qo+lBYtBezQG+g==",
                    "recipientTimestamp": "1764377980"
                  },
                  "deviceListMetadataVersion": 2
                },
                "conversation": "hola"
              },
              "contextInfo": {
                "expiration": 0,
                "ephemeralSettingTimestamp": "0",
                "disappearingMode": {
                  "initiator": "CHANGED_IN_CHAT"
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1765462667,
              "instanceId": "2c5098e0-6ac6-4a43-8dd2-961fec983cc7",
              "source": "desktop"
            },
            "destination": "http://192.168.0.232:5678/webhook/AgenteAITest",
            "date_time": "2025-12-11T11:17:49.116Z",
            "sender": "5491122824060@s.whatsapp.net",
            "server_url": "http://localhost:8080",
            "apikey": "secret_api_key"
          },
          "webhookUrl": "http://localhost:5678/webhook/AgenteAITest",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RecuperarTelefonoEnEsperaDeRespuesta": {
      "main": [
        [
          {
            "node": "Enviar Mensaje De Clientes esperando respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Necesidad de Asistencia Humana1": {
      "main": [
        [
          {
            "node": "RecuperarTelefonoEnEsperaDeRespuesta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "Enviar Mensaje De Respuesta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Enviar Mensaje De Respuesta1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar Mensaje De Clientes esperando respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chat whatsap2": {
      "main": [
        [
          {
            "node": "RecuperarEstado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Buffer2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Get messages2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get messages2": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Buffer2": {
      "main": [
        [
          {
            "node": "Get messages2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Buffer2": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizacion2": {
      "main": [
        [
          {
            "node": "Load Buffer2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Json Parse2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json Parse2": {
      "main": [
        [
          {
            "node": "Necesidad de Asistencia Humana2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cantidad Avisos1": {
      "main": [
        [
          {
            "node": "Enviar Mensaje de Suma un Strike1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensaje De Último Strike1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensaje De Bloqueo de Numero1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Necesidad de Asistencia Humana2": {
      "main": [
        [
          {
            "node": "Humano",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RecuperarEstado1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot": {
      "main": [
        [
          {
            "node": "Guardrails1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalizacion2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Normalizacion2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Humano": {
      "main": [
        [
          {
            "node": "Enviar Mensaje De Asistencia Humana1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Cantidad Avisos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Necesidad de Asistencia Humana1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Guardrails1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "ProximoHorarioDisponible": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "VerDisponibilidadFulbot": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ReservarCanchaFulbot": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "RecuperarReservasFulbot": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "EliminarReserva": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PosiblesHorarios": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DatosDeCanchas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar Mensaje De Respuesta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all"
  },
  "versionId": "a5789ae9-862e-46cb-a12d-86e3a2bf20a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "feb295d752b55192c0a91396ac1275e3869628ab7c3b417b06519ff7a25b086f"
  },
  "id": "fB7iDuROrcqGX1rc",
  "tags": [
    {
      "updatedAt": "2025-12-11T14:46:20.003Z",
      "createdAt": "2025-12-11T14:46:20.003Z",
      "id": "sug1lILaQe9sxWni",
      "name": "Fulbot"
    }
  ]
}
