tools/PosiblesHorarios.json
{
  "name": "PosiblesHorarios",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "FECHA"
            },
            {
              "name": "NUMEROCANCHA",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        -16
      ],
      "id": "12ad5f15-e0d4-42d5-bb1b-eb3410b667ba",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# --- Parámetros de Configuración ---\n# ¡IMPORTANTE! Ajusta estas horas según tu negocio\nHORA_APERTURA = 9   # 9:00 AM\nHORA_CIERRE = 23    # 11:00 PM (El último slot posible es a las 22:00)\n# --- Fin de Configuración ---\n\n# 1. Crear un set() con todos los bloques de 1 hora que ya están ocupados\nreservas_existentes = set()\nfor item in items:\n    try:\n        horario_str = item.json.get(\"HORARIO\") # \"13:00\"\n        tiempo_int = int(item.json.get(\"TIEMPO\", 0)) # 2\n        \n        if horario_str:\n            start_hour = int(horario_str.split(':')[0]) # 13\n            \n            # Añadimos todos los bloques que ocupa esta reserva\n            # Ej: si es 13:00 y dura 2 horas, añade 13 y 14 al set\n            for i in range(tiempo_int):\n                reservas_existentes.add(start_hour + i)\n                \n    except Exception as e:\n        pass # Ignorar items con formato incorrecto\n\n# 2. Generar la lista de franjas disponibles\nfranjas_disponibles = []\n\n# Iteramos por cada hora posible del día (asumiendo franjas de 1 hora)\n# range(9, 23) genera números del 9, 10, 11... hasta el 22\nfor hora in range(HORA_APERTURA, HORA_CIERRE):\n    \n    # 3. Comprobar si esta hora NO está en el set de reservas\n    if hora not in reservas_existentes:\n        \n        # Formateamos la \"tupla\" (la franja horaria)\n        horario_disponible_str = f\"{hora}:00\"\n        \n        # Creamos un objeto JSON por cada franja disponible\n        # Esto es lo que n8n considera una \"tupla\" o ítem\n        franjas_disponibles.append({'json': {'horario_disponible': horario_disponible_str}})\n\n# 4. Devolver la lista completa de franjas disponibles\nif not franjas_disponibles:\n    # Si todo está ocupado\n    return [{'json': {'error': 'No hay franjas disponibles'}}]\n\nreturn franjas_disponibles"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -16
      ],
      "id": "c0905322-ae18-4d7f-84ca-e5f123c32924",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "negocio",
          "mode": "list",
          "cachedResultName": "negocio"
        },
        "table": {
          "__rl": true,
          "value": "reservas",
          "mode": "list",
          "cachedResultName": "reservas"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "NUMEROCANCHA",
              "value": "={{ $json.NUMEROCANCHA }}"
            },
            {
              "column": "FECHA",
              "value": "={{ DateTime.fromFormat($json.FECHA, 'dd/MM/yyyy').toFormat('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -128,
        -16
      ],
      "id": "639056da-6c52-453b-ac75-c60bc020c86a",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "AoDwSZhy27WNmTsX",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "FECHA": "11/12/2025",
          "NUMEROCANCHA": 1
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "42558281-d564-4c27-b5eb-943c8cf32f9d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "feb295d752b55192c0a91396ac1275e3869628ab7c3b417b06519ff7a25b086f"
  },
  "id": "5V6I2THeKfU2YSui",
  "tags": [
    {
      "updatedAt": "2025-12-11T14:46:20.003Z",
      "createdAt": "2025-12-11T14:46:20.003Z",
      "id": "sug1lILaQe9sxWni",
      "name": "Fulbot"
    }
  ]
}