Tools/ProximoHorarioDisponible.json
{
  "name": "ProximoHorarioDisponible",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "FECHA"
            },
            {
              "name": "NUMEROCANCHA",
              "type": "number"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        352,
        352
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Iteramos sobre los items de entrada\nitems_input = _input.all() # Forma estándar de obtener items en las versiones nuevas de n8n\n\nmax_end_hour = 0.0 # Usamos float para permitir medias horas si fuera necesario\n\n# Si no hay reservas, definimos una hora de apertura por defecto, ej: 9:00\nif not items_input:\n    max_end_hour = 9.0\nelse:\n    for item in items_input:\n        try:\n            # 1. Obtener datos\n            json_data = item.json\n            horario_str = json_data.get(\"HORARIO\") # \"18:00:00\"\n            tiempo_raw = json_data.get(\"TIEMPO\", 0) # \"1.0\" o \"2.0\"\n\n            if horario_str:\n                # 2. Parsear el TIEMPO de forma segura (String -> Float)\n                # Esto soluciona el error de int(\"1.0\")\n                tiempo_val = float(tiempo_raw)\n\n                # 3. Parsear el HORARIO\n                # Tomamos la parte de la hora y, si hubiera minutos, los convertimos a decimal\n                partes_hora = horario_str.split(':')\n                hora = int(partes_hora[0])\n                minutos = int(partes_hora[1]) if len(partes_hora) > 1 else 0\n                \n                # Convertimos todo a formato decimal (ej: 18:30 -> 18.5)\n                hora_decimal_inicio = hora + (minutos / 60.0)\n\n                # 4. Calcular hora de fin\n                current_end_hour = hora_decimal_inicio + tiempo_val\n\n                # 5. Guardar la mayor hora encontrada\n                if current_end_hour > max_end_hour:\n                    max_end_hour = current_end_hour\n\n        except Exception as e:\n            # En caso de error en un item, lo saltamos pero imprimimos el error en consola\n            print(f\"Error procesando item: {e}\")\n            pass\n\n# 6. Reconvertir el decimal a formato de hora \"HH:MM\"\n# Separamos la parte entera (hora) y la decimal (minutos)\nhora_final = int(max_end_hour)\nminutos_final = int((max_end_hour - hora_final) * 60)\n\n# Formateamos con ceros a la izquierda (09:00 en vez de 9:0)\nproximo_horario_str = f\"{hora_final:02d}:{minutos_final:02d}\"\n\nreturn [{'json': {'proximo_horario_disponible': proximo_horario_str}}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        352
      ],
      "id": "5c02823f-9d3d-4ecc-9354-1aa73cf2a659",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "negocio",
          "mode": "list",
          "cachedResultName": "negocio"
        },
        "table": {
          "__rl": true,
          "value": "reservas",
          "mode": "list",
          "cachedResultName": "reservas"
        },
        "where": {
          "values": [
            {
              "column": "FECHA",
              "value": "={{ DateTime.fromFormat($json.FECHA, 'dd/MM/yyyy').toFormat('yyyy-MM-dd') }}"
            },
            {
              "column": "NUMEROCANCHA",
              "value": "={{ $json.NUMEROCANCHA }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        464,
        352
      ],
      "id": "f31ac2cd-5747-4bfe-937d-eb9844b1b9aa",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "AoDwSZhy27WNmTsX",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "FECHA": "08/12/2025",
          "NUMEROCANCHA": 1
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6fbadf66-9cf2-4f84-81d6-3bd99b76b58f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "feb295d752b55192c0a91396ac1275e3869628ab7c3b417b06519ff7a25b086f"
  },
  "id": "ZGHEA2tpkMb3n3e7",
  "tags": []
}
