Tools/VerDisponibilidadFulbot.json
{
  "name": "VerDisponibilidadFulbot",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "NUMEROCANCHA",
              "type": "number"
            },
            {
              "name": "FECHA"
            },
            {
              "name": "HORARIO"
            },
            {
              "name": "TIEMPO",
              "type": "number"
            }
          ]
        }
      },
      "id": "95543cb8-47a3-46c4-9bee-11f1fb536008",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -336,
        -80
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"disponibilidad\" : true\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        -96
      ],
      "id": "a7a75e5c-dd12-4793-8ddb-9098540f5883",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        80,
        -80
      ],
      "id": "bd2cf8c8-75d8-4029-aa2d-439e4ec510ea",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "negocio",
          "mode": "list",
          "cachedResultName": "negocio"
        },
        "table": {
          "__rl": true,
          "value": "reservas",
          "mode": "list",
          "cachedResultName": "reservas"
        },
        "where": {
          "values": [
            {
              "column": "HORARIO",
              "value": "={{ $json.HORARIO }}"
            },
            {
              "column": "FECHA",
              "value": "={{ DateTime.fromFormat($json.FECHA, 'dd/MM/yyyy').toFormat('yyyy-MM-dd') }}"
            },
            {
              "column": "NUMEROCANCHA",
              "value": "={{ $json.NUMEROCANCHA }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        288,
        16
      ],
      "id": "268f35d0-b6f8-40c4-8006-1c601c0999fa",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "AoDwSZhy27WNmTsX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos los datos de entrada\nconst inputData = items[0].json;\nconst repeticiones = inputData.TIEMPO;\nconst fechaString = inputData.FECHA;     // \"08/12/2025\"\nconst horarioString = inputData.HORARIO; // \"23:00\"\n\n// 1. Desarmamos el texto para crear un objeto Fecha nativo de JS\n// Dividimos la fecha por la barra \"/\"\nconst partesFecha = fechaString.split('/'); // [\"08\", \"12\", \"2025\"]\n// Dividimos la hora por los dos puntos \":\"\nconst partesHora = horarioString.split(':'); // [\"23\", \"00\"]\n\n// Creamos la fecha base.\n// OJO: En Javascript los meses van de 0 a 11 (Enero es 0, Diciembre es 11)\n// Por eso restamos 1 al mes (partesFecha[1] - 1)\nconst fechaBase = new Date(\n    partesFecha[2],       // Año\n    partesFecha[1] - 1,   // Mes (0-indexado)\n    partesFecha[0],       // Día\n    partesHora[0],        // Horas\n    partesHora[1]         // Minutos\n);\n\nconst resultados = [];\n\n// Función auxiliar para agregar el cero a la izquierda (ej: 9 -> 09)\nconst pad = (num) => num.toString().padStart(2, '0');\n\nfor (let i = 0; i < repeticiones; i++) {\n  \n  // Clonamos la fecha base para no modificar la original\n  let nuevaFecha = new Date(fechaBase);\n  \n  // Sumamos las horas (JS maneja el cambio de día/mes/año solo)\n  nuevaFecha.setHours(fechaBase.getHours() + (i + 1));\n\n  // Formateamos de vuelta a texto para que n8n lo lea bonito\n  const fechaFormateada = `${pad(nuevaFecha.getDate())}/${pad(nuevaFecha.getMonth() + 1)}/${nuevaFecha.getFullYear()}`;\n  const horaFormateada = `${pad(nuevaFecha.getHours())}:${pad(nuevaFecha.getMinutes())}`;\n\n  resultados.push({\n    json: {\n      ...inputData,\n      \"FECHA\": fechaFormateada,\n      \"HORARIO\": horaFormateada,\n      \"bloque_nro\": i + 1\n    }\n  });\n}\n\nreturn resultados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -80
      ],
      "id": "d3edbf71-c408-4ad0-ab06-4c0b0c1c530e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fa4f29ab-82f8-4544-b276-91f0cbd5c45b",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "589e9d17-fbbc-4b0e-9acc-6b09f8470b48",
              "leftValue": "={{ $('Loop Over Items').item.json.bloque_nro }}",
              "rightValue": "={{ $('Loop Over Items').item.json.TIEMPO }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        16
      ],
      "id": "de57d2c3-3b85-490b-83ed-7555eba559a2",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        704,
        32
      ],
      "id": "ab0be43d-4505-48eb-9098-e5a61c00978e",
      "name": "Stop and Error"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "NUMEROCANCHA": 1,
          "FECHA": "08/12/2025",
          "HORARIO": "17:00",
          "TIEMPO": 2
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a713cea0-0cc1-4caa-95ca-bed370d0c80a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "feb295d752b55192c0a91396ac1275e3869628ab7c3b417b06519ff7a25b086f"
  },
  "id": "F2fokid3AZgTDMFv",
  "tags": []
}
