Workflows/Tools/EliminarReservaFulbot.json
{
  "name": "EliminarReservaFulbot",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "TELEFONO"
            },
            {
              "name": "NOMBRE"
            },
            {
              "name": "FECHA"
            },
            {
              "name": "NUMEROCANCHA"
            },
            {
              "name": "HORARIO"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        80
      ],
      "id": "148da831-c57a-4f7f-b920-851090c24e78",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "negocio",
          "mode": "list",
          "cachedResultName": "negocio"
        },
        "table": {
          "__rl": true,
          "value": "reservas",
          "mode": "list",
          "cachedResultName": "reservas"
        },
        "where": {
          "values": [
            {
              "column": "TELEFONO",
              "value": "={{ $json.TELEFONO }}"
            },
            {
              "column": "NOMBRE",
              "value": "={{ $json.NOMBRE }}"
            },
            {
              "column": "FECHA",
              "value": "={{ DateTime.fromFormat($json.FECHA, 'dd/MM/yyyy').toFormat('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        80
      ],
      "id": "21e6b685-ec73-48f5-9e1e-660d6c050019",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "AoDwSZhy27WNmTsX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "negocio",
          "mode": "list",
          "cachedResultName": "negocio"
        },
        "table": {
          "__rl": true,
          "value": "reservas",
          "mode": "list",
          "cachedResultName": "reservas"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        64
      ],
      "id": "0b2123b7-d396-4155-b79c-b605ae848ac3",
      "name": "Delete table or rows",
      "credentials": {
        "postgres": {
          "id": "AoDwSZhy27WNmTsX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f680c76b-d4c6-44a3-aae0-81082ee20d11",
              "leftValue": "={{ $json.id }}",
              "rightValue": "=",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "be348950-684a-4c24-997c-2b8e59d9e4fb",
              "leftValue": "={{ $json.PAGORECIBIDO }}",
              "rightValue": "si",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        80
      ],
      "id": "858fd8d6-ddfd-4260-923d-75dd9bb9916f",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        640,
        224
      ],
      "id": "bb4ce5bf-c412-456a-8de2-1d8f7f5ffb90",
      "name": "Stop and Error"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "TELEFONO": "5491161773862",
          "NOMBRE": "Carlos Francisco Buiz",
          "FECHA": "08/12/2025",
          "NUMEROCANCHA": "1",
          "HORARIO": "18:00"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0c080ec2-6b09-454d-acb9-28f85df60f19",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "feb295d752b55192c0a91396ac1275e3869628ab7c3b417b06519ff7a25b086f"
  },
  "id": "gpitab2t9cMW4w1i",
  "tags": []
}
